Makefile
Makefile.in
aclocal.m4
ampache-mediaserver-interface
ampache_mediaserver_interface_vala.stamp
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
*.a
libtool
ltmain.sh
missing
.deps
.dirstamp
src/*.c
*.o
stamp-h1
vapi/query-analyzer.c
vapi/query-parser.c
vapi/query-parser.h
ylwrap
